{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AI Designer HighFashion </title>

  <!-- Bootstrap core CSS -->

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/fullpage/jquery.fullPage.css' %}" rel="stylesheet">
  <link href="{% static 'css/imagepicker/image-picker.css' %}" rel="stylesheet">
  
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery_ui/jquery-ui.min.css' %}" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
  <link href="{% static 'css/icheck/flat/green.css' %}" rel="stylesheet">

  <script src="{% static 'js/jquery.min.js' %}"></script>

  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js' %}"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
        <![endif]-->

</head>

<body class="nav-md">

  <div class="container body">

    <div class="main_container">

	  <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><span>HighFashion</span></a>
          </div>
          <div class="clearfix"></div>


          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="{% static 'images/img.jpg' %}" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome to</span>
              <h2>HF Design Studio</h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
		  {% include "sidebar.html" %}
          <!-- /sidebar menu -->

        </div>
      </div>

      <!-- top navigation -->
	  <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">

		<div id="loading_background" style="display: none;">
		  <div id="loading">
		    <h4> Scatching.... </h4>
		  </div>
		</div>

        <div id="design_page" class="">

		  <div id="fullpage_design">

		    <div id="top10_container" class="col-md-12 section slide-with-border">

			  <div class="page-title">
  				<div class="title_left">
  				  <h3>
  					Top 10.
  					<small>HighFashion</small>
  				  </h3>
  				</div>
  			  </div>

			  <div id="top10_list" class="col-md-12" style="height: 85vh; overflow: auto;"></div>

			</div>

			<div id="collection_container" class="col-md-12 section slide-with-border">

			  <div class="page-title">
  				<div class="title_left">
  				  <h3>
  					Collection.
  					<small>WordCloud</small>
  				  </h3>
  				</div>
  			  </div>

			  <div class="col-md-12">
			    <div id="wordcloud" style="height: 20vh; overflow: auto; text-align: center;"> </div>
				<hr class="style18">
			  </div>

			  <div class="col-md-12">
				<div class="x_panel" style="height: 50vh; overflow: auto;">
				  <div class="x_title">
					<h2>Fashion Gallery <small> design by HighFashion </small></h2>
					<div class="clearfix"></div>
				  </div>
				  <div class="x_content">

					<div id="collection-fashions" class="row"> </div>

				  </div>
				</div>
			  </div>


			</div>

			  <div id="step1_container" class="col-md-12 section slide-with-border">

  				<div class="page-title">
  				  <div class="title_left">
  					<h3>
  					  Step 1.
  					  <small>Scatch</small>
  					</h3>
  				  </div>
  				</div>

  				<div style="position: relative; text-align: center; padding: 15px;">
  				  <p>Fashion Style What you want to design</p>
				  <form onSubmit="return false;">
  				    <input type="text" id="step1_input_text" required="required" class="form-control" style="width: 40%; margin: 0 auto;">
  				    <br />
  				    <button id="step1_scatch_btn" type="button" class="btn btn-dark"> Scatch!! </button>
				  </form>

  				  <h5> Scatch Images </h5>
  				  <hr class="style18" />

  				  <div style="height: 21.5vw; overflow: auto;">
					<select id="step1_scatch_images" class="image-picker show-labels show-html">
					</select>
				  </div>

  				</div>

				<div class="col-md-3 form-group pull-left">
				  <div class="input-group">
					<h4 style="padding-right: 15px;">
					  Image Arithmetic
					</h4>
					<span class="input-group-btn">
					  <a id="step1_image_plus" class="btn btn-app">
						<i class="fa fa-plus"></i> Plus
					  </a>
					  <a id="step1_image_minus" class="btn btn-app">
						<i class="fa fa-minus"></i> Minus
					  </a>
					</span>
				  </div>
				</div>

				<div class="col-md-2 form-group pull-right">
				  <div class="input-group">
					<h4 style="padding-right: 15px;">
					  Next Step
					</h4>
					<span class="input-group-btn">
					  <a id="step1_next" class="btn btn-app">
						<i class="fa fa-edit"></i> Edit Detail
					  </a>
					</span>
				  </div>
				</div>

			  </div>

			  <div id="step2_container" class="col-md-12 section slide-with-border">

  				<div class="page-title">
  				  <div class="title_left">
  					<h3>
  					  Step 2.
  					  <small>Filter</small>
  					</h3>
  				  </div>
  				</div>

  				<!-- image cropping -->
  				<div class="container">
  				  <div class="row">
  					<div class="col-md-6" style="text-align: center; height: 40vw; padding: 5vw;">
					  <h2> Image Preview </h2>
					  <br/>
  					  <div class="img-container">	
					    <canvas id="step2_image_canvas"><canvas/>
  					  </div>
					</div>

					<div class="col-md-6" style="top: 5vw; height: 40vw;">
					  <div style="text-align: center;">
						 
						<h2> Image Filter </h2>
						<button id="reset-btn" type="button" class="btn btn-round btn-default" data-preset="revert"> Reset </button>	
						<br/>

						<div id="ImageFilters">
							<hr/>

						  <div class="x_content">
							<button id="vintage-btn" type="button" class="btn btn-round btn-default" data-preset="vintage"> Vintage </button>
							<button id="lomo-btn" type="button" class="btn btn-round btn-primary" data-preset="lomo"> Lomo </button>
							<button id="clarity-btn" type="button" class="btn btn-round btn-success" data-preset="clarity"> Clarity </button>
							<button id="sincity-btn" type="button" class="btn btn-round btn-dark" data-preset="sinCity"> Sin City </button>
						  </div>

						  <div class="x_content">
							<button id="sunrise-btn" type="button" class="btn btn-round btn-warning" data-preset="sunrise"> Sunrise </button>
							<button id="crossprocess-btn" type="button" class="btn btn-round btn-primary" data-preset="crossProcess"> Cross Process </button>
							<button id="orangepeel-btn" type="button" class="btn btn-round btn-warning" data-preset="orangePeel"> Orange Peel </button>
							<button id="grungy-btn" type="button" class="btn btn-round btn-dark" data-preset="grungy"> Grungy </button>
						  </div>

						  <div class="x_content">
							<button id="jarques-btn" type="button" class="btn btn-round btn-dark" data-preset="jarques"> Jarques </button>
							<button id="oldboot-btn" type="button" class="btn btn-round btn-info" data-preset="oldBoot"> Old Boot </button>
							<button id="glowingsun-btn" type="button" class="btn btn-round btn-warning" data-preset="glowingSun"> Glowing Sun </button>
							<button id="hazydays-btn" type="button" class="btn btn-round btn-success" data-preset="hazyDays"> Hazy Days </button>
						  </div>

						  <div class="x_content">
							<button id="nostalgia-btn" type="button" class="btn btn-round btn-default" data-preset="nostalgia"> Nostalgia </button>
							<button id="hemingway-btn" type="button" class="btn btn-round btn-info" data-preset="hemingway"> Hemingway </button>
							<button id="concentrate-btn" type="button" class="btn btn-round btn-primary" data-preset="concentrate"> Concentrate </button>
							<button id="heymajesty-btn" type="button" class="btn btn-round btn-danger" data-preset="herMajesty"> Hey Majesty </button>
						  </div>
						</div>
					  </div>

					</div>
  				  </div>

  				  <div class="row">
  					<!-- /.docs-buttons -->

				    <div class="col-md-2 form-group pull-right">
					  <div class="input-group">
						<h4 style="padding-right: 15px;">
							Next Step
						</h4>
						<span class="input-group-btn">
						  <a id="step2_next" class="btn btn-app">
						    <i class="fa fa-magic"></i> Design
						  </a>
						</span>
					  </div>
					</div>

  				  </div>
  				</div>
  				<!-- /image cropping -->

			  </div>

			  <div id="step3_container" class="col-md-12 section slide-with-border">

  				<div class="page-title">
  				  <div class="title_left">
  					<h3>
  					  Step 3.
  					  <small>Design Detail</small>
  					</h3>
  				  </div>
  				</div>

				<div class="col-md-7">
				  <div class="x_panel" style="text-align: center; height: 80vh;">
					<div class="x_title">
					  <h2>Fashion History</h2>
					  <div class="clearfix"></div>
					</div>

					<h5> History </h5>
					<ul id="step3_history" class="thumbnails image_picker_selector">
					</ul>

					</br>

					<h5> Designed Fashion </h5>
					<div id="step3_designed">
					  <img id="step3_big_image" alt="Picture" height="256">
				    </div>

				  </div>
				</div>

				<div class="col-md-5">

  				  <div class="x_panel">
  					  <div class="x_title">
  					    <h2>Analysis</h2>
  					    <div class="clearfix"></div>
  					  </div>
  					  <div class="x_content">
					    
						<div class="col-md-6">
						  <h5> Female </h5>
					      <div id="classify_gender_female" class="progress right">
						  </div>
						</div>

					    <div class="col-md-6">
						  <h5> Male </h5>
					      <div id="classify_gender_male" class="progress">
						  </div>
						</div>

  					    <div id="analysis_raidor_chart" style="height:500px;"></div>
  					  </div>
  				  </div>

  				</div>

			    <div class="col-md-2 form-group pull-right">
				  <div class="input-group">
				    <h4 style="padding-right: 15px;">
					  Next Step
				    </h4>
				    <span class="input-group-btn">
					  <a id="step3_next" class="btn btn-app">
					    <i class="fa fa-search-plus"></i> Similar Fashion
					  </a>
				    </span>
				  </div>
			    </div>

		      </div>

			<div id="step4_container" class="col-md-12 section slide-with-border">

			  <div class="page-title">
				<div class="title_left">
				  <h3>
					Bonus.
					<small>Similar Fashion</small>
				  </h3>
				</div>
			  </div>

			  <div class="col-md-12">
				<div class="x_panel">
				  <div class="x_title">
					<h2>Fashion Gallery <small> design by HighFashion </small></h2>
					<div class="clearfix"></div>
				  </div>
				  <div class="x_content">

					<div id="similar-fashions" class="row"> </div>

				  </div>
				</div>
			  </div>

			</div>

		  </div>

	    <div class="clearfix"></div>

      </div>
      <!-- /page content -->
    </div>

  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- bootstrap progress js -->
  <script src="{% static 'js/progressbar/bootstrap-progressbar.min.js' %}"></script>
  <script src="{% static 'js/nicescroll/jquery.nicescroll.min.js' %}"></script>
  <!-- icheck -->
  <script src="{% static 'js/icheck/icheck.min.js' %}"></script>

  <script src="{% static 'js/custom.js' %}"></script>

  <!-- pace -->
  <script src="{% static 'js/pace/pace.min.js' %}"></script>

  <!-- chartJS -->
  <script src="{% static 'js/chartjs/chart.min.js' %}"></script>

  <!-- echart -->
  <script src="{% static 'js/echart/echarts-all.js' %}"></script>
  <script src="{% static 'js/echart/green.js' %}"></script>

  <!-- image picker -->
  <script src="{% static 'js/imagepicker/image-picker.min.js' %}"></script>

  <!-- jQuery fullPage -->
  <script src="{% static 'js/fullpage/jquery.fullPage.min.js' %}"></script>

  <!-- CamanJS -->
  <script src="{% static 'js/caman/caman.full.min.js' %}"></script>
  <script src="{% static 'js/design/filter.js' %}"></script>

  <!-- jQuery UI -->
  <script src="{% static 'js/jquery_ui/jquery-ui.min.js' %}"></script>

  <!-- Custom -->
  <script src="{% static 'js/design/server.js' %}"></script>
  <script src="{% static 'js/design/step.js' %}"></script>
  <script src="{% static 'js/design/dragNdrop.js' %}"></script>
  <script src="{% static 'js/design/main.js' %}"></script>

</body>

</html>
