<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

<div class="menu_section">
  <h3>Designer</h3>
  <ul class="nav side-menu" style="margin-top: 15px;">
	<li><a><i class="fa fa-black-tie"></i> Design <span class="fa fa-chevron-down"></span></a>
	  <ul id="design_nav" class="nav child_menu"> style="display: none">
		<li><a id="step1_progress">Step 1. Scatch</a></li>
		<li><a id="step2_progress">Step 2. Edit Detail</a></li>
		<li><a id="step3_progress">Step 3. Design</a></li>
		<li><a id="step4_progress">Step 4. Look Similar Fashion</a></li>
	  </ul>
	</li>
  </ul>
</div>
</div>

