<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

<div class="menu_section">
  <h3>Designer</h3>
  <ul class="nav side-menu" style="margin-top: 15px;">
    <li><a><i class="fa fa-picture-o"></i> Gallery <span class="fa fa-chevron-down"></span></a>
	  <ul id="gallery_nav" class="nav child_menu" style="display: none">
		<li><a id="top10_progress" tag="1">Top 10</a></li>
		<li><a id="collection_progress" tag="2">Collection</a></li>
	  </ul>
	</li>
	<li><a><i class="fa fa-black-tie"></i> Design <span class="fa fa-chevron-down"></span></a>
	  <ul id="design_nav" class="nav child_menu" style="display: none">
		<li><a id="step1_progress" tag="3">Step 1. Scatch</a></li>
		<li><a id="step2_progress" tag="4">Step 2. Filter</a></li>
		<li><a id="step3_progress" tag="5">Step 3. Design Detail</a></li>
		<li><a id="step4_progress" tag="6">Bonus. Look Similar Fashion</a></li>
	  </ul>
	</li>
  </ul>
</div>
</div>

