<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

<div class="menu_section">
  <h3>General</h3>
  <ul class="nav side-menu">
	<li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
	  <ul class="nav child_menu" style="display: none">
		<li><a href="/">Dashboard</a></li>
	  </ul>
	</li>
	<li><a><i class="fa fa-heartbeat"></i> Tuberculosis <span class="fa fa-chevron-down"></span></a>
	  <ul class="nav child_menu" style="display: none">
		<li><a href="http://saturns.lunit.io:8001/tb/">Overview</a></li>
		<li><a href="http://saturns.lunit.io:8001/tb/knta/">KNTA</a></li>
	  </ul>
	</li>
	<li><a><i class="fa fa-hospital-o"></i> Mammography <span class="fa fa-chevron-down"></span></a>
	  <ul class="nav child_menu" style="display: none">
		<li><a href="http://saturns.lunit.io:8001/mammo/">Overview</a></li>
<!--	<li><a href="http://saturns.lunit.io:8001/mammo/cmc">CMC</a></li>
		<li><a href="http://saturns.lunit.io:8001/mammo/kumc">KUMC</a></li>
		<li><a href="http://saturns.lunit.io:8001/mammo/severance">Severance</a></li> -->
	  </ul>
	</li>
  </ul>
</div>
</div>

